{% extends "bootstrap/base.html" %}

{% block title %}Classifier{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
{% endblock %}

{% block navbar %}
{{ nav.mynavbar.render() }}
{% endblock %}


{% block content %}

    <div class="wrap">

    <div id="theTop"></div>

    <div class="container">

    {% block my_content %}
    {% endblock %}

    </div>

    </div>

    <footer id="footer" class="page-footer">
      <div class="container">
        <p><a href="#theTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>  <a href="#theTop">Back to top</a></p>
      </div>
    </footer>


{% endblock %}
