{% extends "bootstrap/base.html" %}

{% block title %}Classifier{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
{% endblock %}

{% block navbar %}
{{ nav.mynavbar.render() }}
{% endblock %}

{% block content %}

    <div id="theTop"></div>


    <br>

    <div class="container marketing fillup">

    {% block my_content %}
    {% endblock %}

    </div>

    <footer class="page-footer">
      <p><a href="#theTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>  <a href="#theTop">Back to top</a></p>
    </footer>


{% endblock %}
