{% extends 'basic.html' %}

{% block my_content %}

    <script>
    var counter = 0;
    function addInput(divName) {
        var newdiv = document.createElement('div');
        counter++;
        newdiv.innerHTML = '<div class="form-group row" id="row_'+counter+'"><label for="sample_'+counter+'" class="col-md-2 col-form-label">Sample '+counter+'</label><div class="col-md-2"><input type="text" name="A[]" class="form-control"></div><div class="col-md-2"><input type="text" name="B[]" class="form-control"></div><div class="col-md-2"><div onClick="deleteInput(\''+divName+'\', \'row_'+counter+'\');" class="form-control btn btn-danger">Delete</div></div></div>';
        document.getElementById(divName).appendChild(newdiv);
    }
    function deleteInput(divName, row) {
        var element = document.getElementById(row);
        counter--;
        element.parentNode.removeChild(element);
        var children = document.getElementById(divName).children;
        count = 0;
        for (var i = 0; i < children.length; i++) {
          var child = children[i];
          if (child.firstChild != null) {
            child.firstChild.firstChild.setAttribute("for", "sample_"+(count+1));
            child.firstChild.firstChild.innerHTML = "Sample "+(count+1);
            child.id = "row_"+(count+1);
            count++;
          } else {
            child.id = "";
          }
        }
    }
    window.onload = function() {
      addInput('dynamicInput');
    };
    </script>

    <div class="row featurette">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">

        <h2 class="featurette-heading">Classifier<br><span class="text-muted">Optimise your selection</span></h2>

        <p class="lead justify">
        </p>

        <p class="lead justify">
        Here you can input data to identify how likely it is to come from a background or signal sample.
        Input your data and you will have high level of confidence on what to expect!
        </p>

        <p class="lead justify">
        Please enter one sample per line, separating the values of each variable in a sample with a space.
        </p>

        <p class="lead justify">
        </p>

<!--<textarea rows="20" style="width: 100%;" name="data"></textarea>-->
        <p class="lead justify">
        <form action="{{ url_for('result') }}" method="post">
          <div class="form-group row">
            <label for="titleRow" class="col-md-2 col-form-label"></label>
            <div class="col-md-2">Variable A</div>
            <div class="col-md-2">Variable B</div>
            <div class="col-md-2"></div>
          </div>
          <div id="dynamicInput">
          </div>
          <div class="form-group row">
            <div class="col-md-8"><input type="button" class="btn btn-success" value="New sample" onClick="addInput('dynamicInput');" style="width: 100%;"/></div>
          </div>
          <div class="form-group row">
            <div class="col-md-8"><input type="submit" class="btn btn-primary" value="Submit" style="width: 100%;"/></div>
          </div>
        </form>
        </p>

      </div>
      <div class="col-md-2">
      </div>
    </div>

{% endblock %}
